.popup__error {
  display: none;
  margin: 0 auto;
  margin-top: 5px;
  color: rgba(255, 0, 0, 1);
  width: 358px;
  font-style: normal;
  font-size: 12px;
  line-height: 15px;
}

@media (max-width: 600px) {
  .popup__error {
    width: 238px;
  }
}