.popup__button-close {
  background-color: transparent;
  background-image: url(../../../images/Close-Icon.svg);
  background-size: cover;
  position: absolute;
  padding: 0;
  top: -40px;
  right: -40px;
  border: none;
  width: 32px;
  height: 32px;
  transition: opacity 0.5s ease-in-out;
  transition: visibility 0s, opacity 0.2s linear;
}
@media (max-width: 600px) {
  .popup__button-close {
    width: 20px;
    height: 20px;
    right: 0px;
  }
}
.popup__button-close:hover {
  opacity: 0.6;
  cursor: pointer;
}