.element__delete {
  background-image: url(../../../images/Deleted.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  position: absolute;
  width: 18px;
  height: 19px;
  transition: opacity 0.5s ease-in-out;
  top: 20px;
  left: 244px;
}
.element__delete:hover {
  opacity: 0.5;
  cursor: pointer;
}