.login-form__password {
  padding: 0;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #ccc;
  margin-bottom: 216px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  color: #fff;
  padding-bottom: 13px;
}
